@model IEnumerable<CFarma_TemplateN.Models.Cliente>
@{
    ViewData["Title"] = "Mi Carrito";
}

<h1>Mi Carrito</h1>

<div class="container col-md-4">
    <table class="table table-danger">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
    
    </table>
</div>